.wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  height: 35px;
  padding: 5px;
}

.compactBtn {
  width: 22px;
  height: 22px;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    svg {
      opacity: 0.5;
    }
  }

  svg {
    display: block;
  }
}

.configBtn {
  cursor: pointer;
}