.wrapper {
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.compactBtn {
  width: 20px;
  height: 20px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}