.wrapper {
  background: #ffffff;
  border-radius: 5px;
  min-width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compactBtn {
  width: 20px;
  height: 20px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  svg {
    display: block;
  }
}