.wrapper {
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  padding: 5px;
  flex-grow: 1;
}

.note {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--button-bg));
  border-radius: 50%;
  color: rgb(var(--button-text-color));
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.1s;
  font-size: 14px;

  &:hover {
    background-color: rgb(var(--primary-color-hover));
  }

  &.active {
    background-color: rgb(var(--primary-color));
  }
}