.picker {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;

  input {
    position: absolute;
    visibility: hidden;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}