:root {
  --primary-color: rgb(66, 176, 223);
  --primary-color-hover: rgb(48, 154, 200);
  --button-bg: rgb(131,137,150);
  --button-text-color: rgb(255, 255, 255);
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/OpenSans-Regular.ttf') format('ttf');
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.main {
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}

html {
  overflow: hidden;
  background-color: #000000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

*, *:after, *:before {
  box-sizing: inherit;
  user-select: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
