.wrapper {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  gap: 4px;
  // background: #ffffff;
  // padding: 5px;
}

.scaleBtn {
  position: relative;
  flex-grow: 1;
  padding: 5px 10px;
  color: var(--button-text-color);
  text-transform: capitalize;
  background-color: var(--button-bg);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-shadow: 0 0 2px #000000;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
  }

  &:hover {
    background-color: var(--button-bg-hover);
  }

  &.active {
    background-color: var(--primary-color);
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 2px 5px;
  }
}